/**
 * $MASTHEAD
 * ==========================================================================
 * Masthead is used as the top section on pages, typically containing the 
 * page title.
 */
.masthead {
	height: 460px;
	background-image: url('../img/dma-header.jpg');

	.lockup{
		float: right;
		margin-right: 40px;
		top: 100px;
	}

	.top-tag{
		position: absolute;
		top: 0;
		right: 0;
	}
}

.thankyou{
	background-image: none;
	height: 350px;
}

.head-banner{
	background-image: url('../img/white-bg.png');
	background-repeat: repeat-x;
	background-position: top;
	position: relative;
	background-color: white;
	height: 150px;

	.pointer{
		position: absolute;
		z-index: 30;
		margin-top: -90px;
		margin-left: 25px;
	}

	.tagline{
		margin:auto;
		top: 40px;
	}
}

.thanksline{
		height: 600px;
	}


.social-links{
	top: 80px;
text-align: center;
position: relative;
	img{
		display: inline-block;
		margin-right: 15px;
	}
}

.domain-urls{
		position: relative;
		margin-top: 100px;
		text-align: center;

		img{
			margin: 60px auto;
		}
	}

	a, a:link{
		color: #000;
	}

	a:hover{
		color: #ff0000;
	}

